.form-control:focus{
    border: none !important;
    box-shadow: none;
}

.input-field {
    padding: toRem(18) toRem(24);
    background: #ebd9c8;
    border-radius: 0.625rem;
    border: none;
    font-weight: 500;
    width: toRem(450);
    font-size: toRem(23);

    &:nth-child(1){
        margin-bottom: 0.9375rem;
    }

    &:hover {
        background: white;
    }

}

.reg-input-field{
    padding: toRem(8) toRem(15);
    background: rgba($color: #000000, $alpha: 0);
    border-radius: 0.5rem;
    border: solid toRem(1) #003f5a;
    font-weight: 500;
    font-size: toRem(14);
    width: toRem(390);
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;

    &:hover{

        color: rgba(129, 49, 2, 0.568);
        border: solid 2px orangered
    }

}

.form-control-reg:focus{
    border: none !important;
    box-shadow: none !important;

}

