.signup-link {
    font-size: toRem(18);
    position: relative;
    float: right;
    padding-bottom: 5px;


    & a {
        color: #003f5a;
        font-weight: 500;
        text-decoration: none;
        position: relative;
    }
}

.recover-pass {
    color: #003f5a;
    width: 100%;
    text-align: end;
    margin: toRem(4) toRem(0) toRem(19) toRem(0);
    font-weight: 500;

    .pass-link {
        color: #003f5a;
        font-size: toRem(18);
        text-decoration: none;

    }
}

.icon-box {

    display: flex;
    justify-content: center;
    column-gap: 25px;

    .icon img {
        padding-bottom: toRem(12);
        width: 35px;  
    }
}

.next-login{
    font-size: toRem(18);
}