.cw-main-card{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1vw;
    flex-wrap: wrap;
    transform: scale(0.9);
    margin-left: 0.5em;
}
.card-container {
	background: #eb632f;
    background: linear-gradient(326deg, #091b42 10%, #eb632f 96%);
    /*background-color: #231E39;*/
	border-radius: 5px;
	box-shadow: 0px 10px 20px -10px rgba(0,0,0,0.75);
	color: #ffffff;
	padding-top: 30px;
	position: relative;
	width: 350px;
	max-width: 100%;
  text-align: center;
  margin-bottom: 1%;
  margin-left: 5%;
  border-radius: 20px;
}

.cw-name-profile{
  margin: 10px 0;
    
}
.cw-title-profile{
  margin: 5px 0;
  
	
}
.cw-name-country{
  margin: 5px 0;
	text-transform: uppercase;
}
.cw-description-profile{
  font-size: 0.9em;
	line-height: 21px;
  margin: 10px 20px;
}
.cw-price{
  font-size: 1em;
	line-height: 21px;
  margin: 10px 0;
}
.cw-buttons{
    margin-top: 13px;
}
.card-container .round {
	border: 2px solid #03BFCB;
	border-radius: 50%;
	padding: 7px;
}

.primary {
	background-color: #03BFCB;
	border: 1px solid #03BFCB;
	border-radius: 10px;
	color: #231E39;
	font-family: Montserrat, sans-serif;
	font-weight: 500;
	padding: 10px 25px;
}

/*.primary-ghost {
	background-color: transparent;
	color: #02899C;
}*/


/*ejemplo*/
.cw-skills{
    /*border: 1px solid #2D2747;*/
	border-radius: 2px;
	display: inline-block;
	font-size: 12px;
	margin: 0 7px 7px 0;
	padding: 7px;

}
.social-icons {
  padding: 0;
  list-style: none;
  margin: 1em;
}

.social-icons .cw-list-icons {
  display: inline-block;
  margin: 0.3em;
  position: relative;
  font-size: 1.2em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 1.2em;
  left: 1.15em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #eb632f, #ee3c0a);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #eb632f;
  background: -webkit-linear-gradient(45deg, #eb632f, #dae50b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}

@media screen and (max-width: 768px) {
  .card-container {
    left: 21vw;
    margin-bottom: -25%;
  }
}

    

@media screen and (max-width: 425px) {
  .cw-main-card {
    
    transform: scale(0.6);
    margin-top: -12vw;
  }
  .card-container {
    margin-bottom: -35%;
    left: 0.5em;
    
    
}


}
